/*#region FONTS AND CURSOR*/
@font-face {
    font-family: 'Chicago';
    src: url('./../assets/fonts/ChicagoFLF.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('./../assets/fonts/AppleGaramond.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  cursor: url('./../assets/icons/system/cursor.png') 1 1, auto;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: 'Chicago', sans-serif;
}
/*#endregion*/

/*#region MONITOR*/
#monitor {
  width: 99%;
  height: 98%;
  margin: 10px auto 0 auto;
  box-shadow: 0 0 20px #00ffcc33;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: black;
  border-radius: 10px;
}

#monitor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 2px,
    transparent 3px
  );
  mix-blend-mode: multiply;
  z-index: 100;
}

#monitor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.25) 100%
  );
  z-index: 101;
}
/*#endregion*/

/*#region OS*/

/*#region BOOTUP-SPECIAL*/
:root {
  --square_size: 20px;
  --square_size_halved: 10px;
  --negative_square_size_halved: -10px;
}

.invisible {
  display:none !important;
}

.checkered {
    background-image:
      linear-gradient(45deg, #FFF 26%, transparent 26%), 
      linear-gradient(135deg, #FFF 26%, transparent 26%),
      linear-gradient(45deg, transparent 75%, #FFF 75%),
      linear-gradient(135deg, transparent 75%, #FFF 75%);
    background-size: var(--square_size) var(--square_size);
    background-position: 0 0, var(--square_size_halved) 0, var(--square_size_halved) var(--negative_square_size_halved), 0px var(--square_size_halved);
}

.flicker {
  animation: flicker 1.33s infinite;
}

@keyframes flicker {
  0%, 80%, 100% { opacity: 1; }
  85% { opacity: 0; }
}

#bootup-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  transition: background-color 3s linear;
  position: relative;
}

#bootup-screen.afterChime {
  background-color: #888888;
}

#bootup-screen img {
  max-width: 80%;
  width: 50px;
}

#load-diskette {
  width: 90px !important;
}

#welcome {
  background-color: #DDDDDD;
  width: 560px;
  height: 427px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: -250px;
}

#almasso-logo {
  width: 453px;
  height: 293px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid black;
  font-family: 'Apple Garamond';
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#almasso-logo img {
  padding-top: 0px;
  width: 150px;
}

#almasso-logo p {
  font-size: 70px;
  margin: 0;
}

#loading-container {
  width: 50%;             
  height: 20px;           
  background-color: #BBBBBB;  
  border: 2px solid black;               
}

#loading-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #212158,
    #7474D0,
    #E9E9F0,
    #7474D0,
    #212158
  ),
  linear-gradient(
    to right,
    #E9E9F0 0%,
    rgba(255, 255, 255, 0) 2%,
    rgba(0, 0, 0, 0) 98%,
    #212158 100%
  );
  background-blend-mode: overlay;
  transition: width 0.5s;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#extensions {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.ext {
  width: 32px !important;
  height: 32px !important;
  opacity: 0;
  transition: opacity 0.05s step-start;
}

.ext.active {
  opacity: 1;
}

/*endregion*/

/*#region TOPBAR*/
#topbar {
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #DDDDDD;
  border-bottom: 2px solid black;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
}

#topbar button {
  background-color: transparent;
  border-color: transparent;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Chicago', sans-serif;
  height: 30px;
}

#topbar button:active {
  background-color: #3531A2;
  color: white;
}

#buttons {
  position: absolute;
  display: flex;
  left: 20px;
}

#mac-icon img {
  width: 20px;
}

.right-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

#lang-flag img {
  height: 20px;
  padding-top: 3px;
}

.dropdown {
  position: absolute;
  background-color: #DDDDDD;
  border: 2px solid black;
  color: black;
  min-width: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 60;
}

.dropdown-option {
  padding: 10px;
}

.dropdown-option:hover {
  background-color: #3531A2;
  color: white;
}

.hidden {
  display: none;
}

#topbar-slider, #current-app, #lang-flag {
  display: flex;
  align-items: center;
}

#topbar-slider button {
  padding: 0 0 0 0;
  height: 30px;
  border: 0;
}

#topbar-slider button:active {
  filter: brightness(0.6);
}

#topbar-slider img {
  height: 30px;
}
/*#endregion*/

/*#region DESKTOP*/
#desktop {
  flex: 1;
  background-image: url('./../assets/bgs/defbg.png');
  background-size: cover;
  overflow: hidden;
  position: relative;
  filter: contrast(1.1) brightness(1.1) saturate(1.2);
  image-rendering: pixelated;
}

/*#region PROGRAMS*/
.app-button-content {
  display: flex;
  align-items: center;
  gap: 7px;
}

.app-button-content img {
  width: 25px;
}

.desktop-icon {
  width: 64px;
  text-align: center;
  color: black;
  margin: 20px;
  font-size: 10px;
  user-select: none;
  position: relative;
}

.desktop-icon #prog-name {
  background-color: #C7C9DE;
  display: inline-block;
  padding: 2px;
}

.icon-stack {
  position: relative;
  width: 45px;
  margin: 0 auto 5px auto;
  height: 32px;
}

.icon {
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
}

.indiv-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
}

.alias-arrow {
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
}

.window {
  position: absolute;
  top: 100px;
  left: 100px;
  background: #AAAAAA;
  border-bottom: 5px solid #AAAAAA;
  border-top: 15px solid #AAAAAA;
  border-left: 5px solid #AAAAAA;
  border-right: 5px solid #AAAAAA;
  box-shadow: 2px 2px 0 #000, -2px -2px 0 #000;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-size: 14px;
  text-align: center;
}

.window-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  user-select: none;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.close-button, .minim-button {
  height: 15px;
  transform: translateY(-5px);
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.maxim-button {
  height: 15px;
  transform: translateY(-5px) translateX(-2px);
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.window-title {
  white-space: nowrap;
  transform: translateY(-5px);
  padding: 0 6px;
  z-index: 1;
}

.title-stripe {
  flex: 1;
  height: 12px;
  transform: translateY(-5px);
  background: repeating-linear-gradient(
    to bottom,
    #FFF 0px,
    #FFF 1px,
    #777 1px,
    #777 2px,
    #FFF 2px,
    #FFF 3px,
    #777 3px,
    #777 4px,
    #FFF 4px,
    #FFF 5px,
    #777 5px,
    #777 6px,
    #FFF 6px,
    #FFF 7px,
    #777 7px,
    #777 8px,
    #FFF 8px,
    #FFF 9px,
    #777 9px,
    #777 10px,
    #FFF 10px,
    #FFF 11px,
    #777 11px,
    #777 12px
  );
  margin: 0 4px;
  opacity: 0.6;
}

.window-details {
  background: #bbbbbb;
  color: black;
  padding: 4px;
  user-select: none;
  border-bottom: 2px solid #000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.window-body {
  flex: 1;
  background: #ffffff;
  font-size: 12px;
  text-align: start;
  overflow: hidden;
  border: 2px solid black;
}

/*#region STEAM SPECIAL WINDOW*/
.steam-window {
  position: absolute;
  top: 100px;
  left: 100px;
  background: #4c5844;
  border-bottom: 5px solid #4c5844;
  border-top: 15px solid #4c5844;
  border-left: 5px solid #4c5844;
  border-right: 5px solid #4c5844;
  box-shadow: 2px 2px 0 #3f4738, -2px -2px 0 #3f4738;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-size: 14px;
  text-align: center;
}

.steam-window-title-and-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.steam-white-logo {
  position: relative;
  top: -5px;
}

.steam-window-title {
  white-space: nowrap;
  transform: translateY(-5px);
  padding: 0 6px;
  z-index: 1;
}

.steam-window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #eff6ee;
  user-select: none;
  font-size: 12px;
  text-align: center;
  position: relative;
}

.steam-window-buttons {
  display: flex;
  gap: 4px;
}

.steam-close-button, .steam-minim-button {
  height: 15px;
  transform: translateY(-5px);
  border-top: 1px solid #80827F;
  border-left: 1px solid #80827F;
  border-right: 1px solid #27301F;
  border-bottom: 1px solid #27301F;
}

.steam-close-button:active, .steam-minim-button:active {
  height: 15px;
  transform: translateY(-5px);
  border-bottom: 1px solid #80827F;
  border-right: 1px solid #80827F;
  border-left: 1px solid #27301F;
  border-top: 1px solid #27301F;
}

.steam-window-body {
  flex: 1;
  background: #4c5844;
  font-size: 12px;
  text-align: start;
  overflow: hidden;
}
/*#endregion*/

/*#endregion*/

/*#region CONTROL STRIP*/
#control-strip {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
}

#control-non-movable {
  display: flex;
  flex-direction: row;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#control-strip button {
  background-color: transparent;
}

#ctrl-close, #ctrl-arrow-right {
  width: 25px;
  height: 40px;
  padding: 0 0 0 0;
  border: 0;
}

#ctrl-close img, #ctrl-arrow-right img{
  width: 25px;
  height: 40px;
}

#ctrl-arrow-left {
  width: 25px;
  height: 40px;
  border-left: 2px solid black;
}

#ctrl-arrow-main {
  width: 30px;
  height: 44px;
  padding: 0 0 0 0;
  border: 0;
}

#ctrl-arrow-main img {
  width: 30px;
  height: 44px;
}

/*#endregion*/
/*#endregion*/
/*#endregion*/