/*#region FONTS AND CURSOR*/
@font-face {
    font-family: 'Chicago';
    src: url('./../assets/fonts/ChicagoFLF.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
  cursor: url('./../assets/icons/system/cursor.png') 1 1, auto;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: 'Chicago', sans-serif;
}
/*#endregion*/

/*#region MONITOR*/
#monitor {
  width: 99%;
  height: 98%;
  margin: 10px auto 0 auto;
  box-shadow: 0 0 20px #00ffcc33;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: black;
  border-radius: 10px;
}

#monitor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 2px,
    transparent 3px
  );
  mix-blend-mode: multiply;
  z-index: 100;
}

#monitor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.25) 100%
  );
  z-index: 101;
}
/*#endregion*/

/*#region OS*/
/*#region TOPBAR*/
#topbar {
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #DDDDDD;
  border-bottom: 2px solid black;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
}

#topbar button {
  background-color: transparent;
  border-color: transparent;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Chicago', sans-serif;
  height: 30px;
}

#topbar button:active {
  background-color: #3531A2;
  color: white;
}

#buttons {
  position: absolute;
  display: flex;
  left: 20px;
}

#mac-icon img {
  width: 20px;
}

.right-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

#lang-flag img {
  height: 20px;
  padding-top: 3px;
}

.dropdown {
  position: absolute;
  background-color: #DDDDDD;
  border: 2px solid black;
  color: black;
  min-width: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 60;
}

.dropdown-option {
  padding: 10px;
}

.dropdown-option:hover {
  background-color: #3531A2;
  color: white;
}

.hidden {
  display: none;
}

#topbar-slider, #current-app, #lang-flag {
  display: flex;
  align-items: center;
}

#topbar-slider button {
  padding: 0 0 0 0;
  height: 30px;
  border: 0;
}

#topbar-slider button:active {
  filter: brightness(0.6);
}

#topbar-slider img {
  height: 30px;
}
/*#endregion*/

/*#region DESKTOP*/
#desktop {
  flex: 1;
  background-image: url('./../assets/bgs/defbg.png');
  background-size: cover;
  overflow: hidden;
  position: relative;
  filter: contrast(1.1) brightness(1.1) saturate(1.2);
  image-rendering: pixelated;
}

/*#region PROGRAMS*/
.app-button-content {
  display: flex;
  align-items: center;
  gap: 7px;
}

.app-button-content img {
  width: 25px;
}

.desktop-icon {
  width: 64px;
  text-align: center;
  color: black;
  margin: 20px;
  font-size: 10px;
  user-select: none;
  position: relative;
}

.desktop-icon #prog-name {
  background-color: #C7C9DE;
  display: inline-block;
  padding: 2px;
}

.icon-stack {
  position: relative;
  width: 45px;
  margin: 0 auto 5px auto;
  height: 32px;
}

.icon {
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
}

.indiv-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
}

.alias-arrow {
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
}

.window {
  position: absolute;
  top: 100px;
  left: 100px;
  background: #999999;
  border-bottom: 5px solid #999999;
  border-top: 15px solid #999999;
  border-left: 5px solid #999999;
  border-right: 5px solid #999999;
  box-shadow: 2px 2px 0 #000, -2px -2px 0 #000;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-size: 14px;
  text-align: center;
}

.window-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  user-select: none;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.close-button, .minim-button {
  height: 15px;
  transform: translateY(-5px);
}

.maxim-button {
  height: 15px;
  transform: translateY(-5px) translateX(-2px);
}

.window-title {
  white-space: nowrap;
  transform: translateY(-5px);
  padding: 0 6px;
  z-index: 1;
}

.title-stripe {
  flex: 1;
  height: 6px;
  transform: translateY(-5px);
  background: repeating-linear-gradient(
    to bottom,
    #444 0px,
    #444 1px,
    #888 1px,
    #888 2px,
    #444 2px,
    #444 3px,
    #888 3px,
    #888 4px,
    #444 4px,
    #444 5px,
    #888 5px,
    #888 6px,
    #444 6px,
    #444 7px,
    #888 7px,
    #888 8px
  );
  margin: 0 4px;
  opacity: 0.6;
}

.window-details {
  background: #bbbbbb;
  color: black;
  padding: 4px;
  user-select: none;
  border-bottom: 2px solid #000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.window-body {
  flex: 1;
  background: #ffffff;
  font-size: 12px;
  text-align: start;
  overflow: hidden;
}
/*#endregion*/
/*#endregion*/
/*#endregion*/