#about-asteroids {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 10px;
  justify-content: center;
}

#asteroids-img {
  margin-left: 20px;
  transform: rotate(20deg);
  width: 128px;
  height: 128px;
  display: block;
  opacity: 0.85;
  filter: blur(0.35px);
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
}

#asteroids-texts {
  margin-right: 10px;
}