.finder {
    display: flex;
    flex-direction: column;
}

.searcher-summary {
    background: #bbbbbb;
    color: black;
    padding: 4px;
    user-select: none;
    border-bottom: 2px solid #000;
    font-size: 12px;
    text-align: center;
}

.searcher-content {
    flex: 1;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.searcher-content .desktop-icon {
    margin: 10px;
    color: black;
}

.searcher-content .desktop-icon #prog-name {
    color: black;
    background-color: transparent;
}

.searcher-content .selected-name {
    background-color: black !important;
    color: white !important;
}

/*SUBWINDOWS*/
#about-this-computer {
    display: flex;
    flex-direction: column;
    background: #bbbbbb;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 10px;
}

#mac-os-logo {
    width: 97%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    border: 3px solid black;
}

#mac-os-logo img {
    width: 90px;
}

#mac-os-logo p, #mac-os-logo span {
    font-family: "Apple Garamond Light";
    font-size: 90px;
    letter-spacing: -5px;
    line-height: 1;
}

#computer-data {
    padding: 6px 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30%;
    height: 1%;
    padding-left: -30px;
}

#computer-data p {
    margin-bottom: 2px;
    line-height: 0.9;
}

#last-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#computer-sizes {
    background-color: #C9C9C9;
    width: 100%;
    height: 38%;
    margin-top: auto;
    border-top: 2px solid black;
}

.memory-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;
    height: 20px;
    border-bottom: 2px solid white;
}

.app-info {
    display: flex;
    align-items: center;
    width: 120px;
}

.icon-box, .icon-box img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.memory-stats {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.memory-stats span {
    width: 50px;
    text-align: right;
    margin-right: 10px;
}

.progress-bar-container {
    flex-grow: 1;
    height: 14px;
    border: 1px solid black;
    background-color: white;
}

.mem-progress-bar {
    background: linear-gradient(
        to bottom,
        #212158,
        #7474D0,
        #E9E9F0,
        #7474D0,
        #212158
    ),
  linear-gradient(
    to right,
    #E9E9F0 0%,
    rgba(255, 255, 255, 0) 2%,
    rgba(0, 0, 0, 0) 98%,
    #212158 100%
  );
  background-blend-mode: overlay;
  transition: width 0.5s;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  height: 100%;
}