.finder {
    display: flex;
    flex-direction: column;
}

.searcher-summary {
    background: #bbbbbb;
    color: black;
    padding: 4px;
    user-select: none;
    border-bottom: 2px solid #000;
    font-size: 12px;
    text-align: center;
}

.searcher-content {
    flex: 1;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.searcher-content .desktop-icon {
    margin: 10px;
    color: black;
}

.searcher-content .desktop-icon #prog-name {
    color: black;
    background-color: transparent;
}

.searcher-content .selected-name {
    background-color: black !important;
    color: white !important;
}

/*SUBWINDOWS*/
#about-this-computer, #finder-info {
    display: flex;
    flex-direction: column;
    background: #bbbbbb;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 10px;
}

#about-this-computer #mac-os-logo {
    width: 97%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    border: 3px solid black;
}

#finder-info #mac-os-logo {
    width: 97%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    border: 3px solid black;
}

#mac-os-logo img {
    width: 90px;
}

#mac-os-logo p, #mac-os-logo span {
    font-family: "Apple Garamond Light";
    font-size: 90px;
    letter-spacing: -5px;
    line-height: 1;
}

#computer-data {
    padding: 6px 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30%;
    height: 1%;
    padding-left: -30px;
}

#computer-data p {
    margin-bottom: 2px;
    line-height: 0.9;
}

#last-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#computer-sizes {
    background-color: #C9C9C9;
    width: 100%;
    height: 38%;
    margin-top: auto;
    border-top: 2px solid black;
    max-height: 38%;
    overflow-y: auto;
}

.memory-row {
    display: flex;
    align-items: center;
    padding: 2px 4px;
    border-bottom: 2px solid white;
    justify-content: center;
}

.app-info {
    text-align: center;
}

