.finder {
    display: flex;
    flex-direction: column;
}

.searcher-summary {
    background: #bbbbbb;
    color: black;
    padding: 4px;
    user-select: none;
    border-bottom: 2px solid #000;
    font-size: 12px;
    text-align: center;
}

.searcher-content {
    flex: 1;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.searcher-content .desktop-icon {
    margin: 10px;
    color: black;
}

.searcher-content .desktop-icon #prog-name {
    color: black;
    background-color: transparent;
}

.searcher-content .selected-name {
    background-color: black !important;
    color: white !important;
}