@font-face {
  font-family: 'Apple Garamond';
  src: url('./../../assets/fonts/AppleGaramond.ttf');
  font-weight: normal;
  font-style: normal;
}

.navigator {
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    background-color: #C0C0C0;
}

#navbar {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #C0C0C0;
    padding: 4px;
    border-bottom: 2px solid #000;
    gap: 5px;
}

#url {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}

#url p {
    font-family: "Apple Garamond" !important;
    font-size: 15px;
}

#url input {
    width: 75%;
    height: 50%;
    font-size: 15px;
    font-family: "Apple Garamond" !important;
}

#navbar-buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#left-buttons {
    display: flex;
    flex-direction: row;
}

#right-buttons {
    display: flex;
    flex-direction: row;
}

#navbar-buttons button {
    font-family: "Apple Garamond" !important;
    width: 70px;
    height: 60px;
    font-size: 15px;
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-right: 2px solid #4E4E4E;
    border-bottom: 2px solid #4E4E4E;
    border-left: 2px solid #EAEAEA;
    border-top: 2px solid #EAEAEA;
}

#navbar-buttons button:active:not(:disabled) {
    background-color: #CCCCFF;
    border-right: 2px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    border-left: 2px solid #4E4E4E;
    border-top: 2px solid #4E4E4E;
    padding-left: 10px;
}

#navbar-buttons button:disabled {
    color: #606060;
}

#navbar-buttons button img {
    padding-top: 4px;
}

.navigator #content {
    flex-grow: 1;
    background-color: #C0C0C0;
    font-family: "Times New Roman", Times, serif !important;
}

#content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#statusbar {
    font-family: "Apple Garamond" !important;
    background-color: #C0C0C0;
    padding: 2px 5px;
    font-size: 12px;
    border-top: 2px solid #000;
}