:root {
    --button-text-size: 13px;
    --paragraph-text-size: 12px;
}

#steam, #about-steam {
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

#steam-content {
    display: flex;
    flex-direction: column;
}

.steam-main-button {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.steam-main-button p {
    color: #818e7c;
    font-size: var(--paragraph-text-size);
}

.steam-button {
    font-family: 'Chicago', sans-serif;
    background-color: #4c5844;
    border-top: 2px solid #80827F;
    border-left: 2px solid #80827F;
    border-right: 2px solid #27301F;
    border-bottom: 2px solid #27301F;
    color: white;
    height: 26px;
    width: 86px;
    text-align: left;
    font-size: var(--button-text-size);
}

.steam-button:active {
    border-right: 2px solid #80827F;
    border-bottom: 2px solid #80827F;
    border-left: 2px solid #27301F;
    border-top: 2px solid #27301F;
    padding-left: 8px;
    padding-top: 2px;
}

#steam-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#steam-bottom {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#valve-logo {
    height: 25px;
    filter: brightness(0) saturate(100%) invert(51%) sepia(7%) saturate(691%) hue-rotate(58deg) brightness(91%) contrast(86%);
}

#steam-logo {
    height: 25px;
    filter: brightness(0) saturate(100%) invert(51%) sepia(7%) saturate(691%) hue-rotate(58deg) brightness(91%) contrast(86%);
}

.steam-hr {
    border-color: #818e7c;
    height: 1px;
}

#steam-games {
    height: 95%;
    background-color: #3f4738 !important;
    border-right: 2px solid #80827F;
    border-bottom: 2px solid #80827F;
    border-left: 2px solid #27301F;
    border-top: 2px solid #27301F;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

@-moz-document url-prefix() {
    #steam-games {
        scrollbar-color: #80827F #4c5844;
    }
}

@supports selector(::-webkit-scrollbar) {
    #steam-games::-webkit-scrollbar {
        background-color: #4c5844;
    }

    #steam-games::-webkit-scrollbar-thumb {
        border-left: 2px solid #80827F;
        border-top: 2px solid #80827F;
        border-right: 2px solid #27301F;
        border-bottom: 2px solid #27301F;
    }

    #steam-games::-webkit-scrollbar-button:vertical:start:decrement, #steam-games::-webkit-scrollbar-button:vertical:end:increment {
        border-left: 2px solid #80827F;
        border-top: 2px solid #80827F;
        border-right: 2px solid #27301F;
        border-bottom: 2px solid #27301F;
    }
}

#steam-games h1 {
    font-size: 10px;
    color: #968732;
    display: flex;
    padding-left: 30px;
}

#steam-games p {
    font-size: 12px;
}

#steam-games hr {
    border-color: #3f4738;
    height: 1px;
    width: 90%;
}

#my-games {
    padding-top: 5px;
}

.steam-game {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -1px;
    padding-left: 10px;
    gap: 5px;
    align-self: end;
    height: 4vh;
}

.steam-game.gameselected {
    background-color: #968732;
    color: white;
}

.game-available {
    color: white;
}

.game-not-available {
    color: #717D6C;
}

.steam-game img {
    width: 20px;
    height: 20px;
}

.game-not-available img {
    filter: sepia(100%) hue-rotate(40deg) saturate(50%) opacity(70%);
}

#steam-loading p {
    color: #a4b49e;
    font-size: var(--paragraph-text-size);
    padding-left: 20px;
}

#steam-texts {
    color: #818e7c;
}