/*#region FONTS AND CURSOR*/
@font-face {
    font-family: 'JetBrains Mono';
    src: url('./../../assets/fonts/JetBrainsMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/*#endregion*/

.terminal {
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
  height: 100%;
  background: black;
  overflow-y: auto;
  scrollbar-width: none;
  font-family: 'JetBrains Mono', monospace;
  color: #0f0;
  font-size: 12px;
}

.terminal::-webkit-scrollbar {
  display: none;
}

.terminal-output {
  flex: 1;
  overflow-y: auto;
}

.terminal-input-line {
  display: flex;
  align-items: center;
  font-family: 'JetBrains Mono', monospace;
}

.prompt {
  margin-right: 5px;
  font-family: 'JetBrains Mono', monospace;
}

.terminal-input {
  background: transparent;
  border: none;
  color: #0f0;
  outline: none;
  flex-grow: 1;
  font-family: 'JetBrains Mono', monospace;
  caret-color: transparent;
  position: relative;
  white-space: pre;
  overflow: hidden;
}

.terminal-input::after {
  content: "_";
  position: inline-block;
  width: 1ch;
  right: 0;
  animation: blink-caret 1s steps(1) infinite;
  color: #0f0;
  pointer-events: none;
}

@keyframes blink-caret {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}